.home-container {
  height:100vh;
}

.home-login-join {
  text-align: center;
  height: 100%;
}

.login-join {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}






#login {
  margin-right: 1%;
}

#home-window {
  margin-top: 1%;
  height: 90vh;
}

.page-window {
  margin-top: 1%;
  height: 90vh;
}

#navbar {
  padding-left: 0;
  padding-right: 0;
}

/*#top-books-container {
  text-align: center;
  background: lightgreen;
}*/

/*#featured-container {
  text-align: center;
  background: lightblue;
}*/

/*#cart-home-container {
  text-align: center;
  background: lightpink;
}*/

#library-container {
  text-align: center;
  /*background: lightpink;*/
}

#checked-out-container {
  text-align: center;
  background: lightblue;
}

#friends-container {
  text-align: center;
  background: lightgreen;
}

#account-container {
  text-align: center;
  /*background: lightcoral;*/
}

#search-container {
  text-align: center;
  /*background: lightsalmon;*/
}

#inbox-container {
  text-align: center;
  background: lightcyan;
}

#cart-container {
  text-align: center;
  background: LightSteelBlue;
}

/*#book-container {
  text-align: center;
  background: LightGreen;
}*/




/* customize bootstrap nav bar: */


.dropdown-item {
  text-align: center!important;
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #343a40!important;
}

input {
  text-align: center;
}

.form-inline {
  justify-content: center;
}

.nav-link {
  text-align: center;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
  color: white!important;
}

::-webkit-input-placeholder {
  font-size: .7rem!important;
}

/* customize bootstrap nav bar: */


#login-page {
  height:100vh;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}

#login-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#login-submit {
  margin-right: 1%;
}

#create-account-page {
  height:100vh;
  padding-left: 30%;
  padding-right: 30%;
  text-align: center;
}

#create-account-form {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

#create-account-submit {
  margin-right: 1%;
}

button:hover {
  cursor: pointer;
}


/*  Account Page:  */

#profile-picture{
  border-style: none;
  width: 75px;
  height: 75px;
  border: 1px solid grey;
  border-radius: 50px;
}

.card {
  margin-top: 15%;
}

#account-edit-button {
  margin-right: 1%;
  color: white;
}

.modal-content, #delete-account-modal {
  margin-top: 15%;
  border-radius: .5rem;
  box-shadow: 10px 10px 5px #888888;
}

#name-edit-input {
  font-weight: 500;
  border: 1px solid lightgrey;
  border-radius: 4px;
}

#delete-account-modal-cancel {
  color: white;
}

/* Search Results */

.search-results {
  height: 200px;
  width: 150px;
  padding: 10px;
}

.search-results:hover{
  cursor: pointer;
  border: 2px solid grey;
}

.no-search-results {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

/* Search Results Loader */

.ui.centered.inline.loader.active, .ui.centered.inline.loader.visible{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* Selected Book Page */

#book-page{
  margin-right: 4%;
  margin-left: 4%;
}

#book-cover{
  padding-top: 10%;
}


#back-and-cover{
  text-align: center;
  padding-right: 5%;
}

#back-to-results{
  float: left;
}

#back-to-results:hover{
  color: #394f83;
}

#basic-book-info{
  text-align: left;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 10%;
  font-size: 115%;
}

#basic-info{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#details-book-info{
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: left;
  font-size: 115%;
}

#details-info{
  padding: 5%;
  margin-right: 5%;
  background: rgba(128, 128, 128, 0.07);
}

#add-to-library-button{
  margin-top: 5%;
  margin-right: 3.7%;
}


/* Library Page */

.library-list{
  display: inline-block;
  /*width: 250px;*/
}

#checkout-available{
  color: green;
}

#checkout-unavailable{
  color: red;
}

/*#book-cover {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}*/

/*#book-details-container{
  text-align: center;
}*/
